.setting{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.setting_box{
    width: 95%;
    margin:0 auto;
    margin-top: 20px;
    background-color: #fff;
    min-height:500px;
    padding:10px 0 ;
}
.setting_box_content{
    width: 95%;
    margin: 0 auto;
    margin-left: -5px;
}