.category {
  width: 100%;
  height: 100%;
  main {
    flex: 1;
    padding: 24px;
    overflow: auto;
  }
}
.categorylist {
  background-color: #fff;
  .categorylist_item {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin: 0 7px 7px 0;
    color: #8e8787;
    line-height: 1.5em;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  .categorylist_item:hover {
    background: skyblue;
    color: #fff;
  }
}
.categorylist_item {
  a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
  }
}
.category_button {
  display: flex;
  justify-content: space-between;
}
.category_btn_box {
  display: flex;
}