.user{
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .user_box{
    width: 95%;
    margin: 0 auto;
  }
  .user_search{
    height:23%;
    padding-left: 20px;
    background-color: #fff;
    margin: 20px 0;
    form{
      padding: 20px 0;
    }
    button{
      margin-top:20px;
    }
  }
  //状态的颜色
  .user_flag{
    display:flex;
    align-items: center;
    span{
      margin-right: 5px;
    }
  }
  
  .green{
    // display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  
    background-color: #52c41a;
  }
  .orange{
    display:flex;
    align-items: center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #faad14;
  }

  //表格样式
  .user_table{
    background-color: #fff;
    margin-top: 20px;
    padding:0 20px;
    position: relative;
  }
  .user_table_box{
    display: flex;
    height: 70px;
    align-items:center;
  }
  .user_table_button{
    display: flex;
    align-items:center;
    margin-top: 40px;
    li{
      margin:10px 5px;
    }
  }
  .user_table{
    position: relative;
  }
  .user_table_button_icon{
    position: absolute;
    right:20px;
    top: 20px;
    cursor: pointer;
  }
.user_table_edit{
  a:nth-child(1){
    text-align: center;
    float: left;
    width: 40%;
    border-right:0.1px solid #eee ;
  }
  a:nth-child(2){
    width: 60%;
    float: left;
    text-align: center;
   
  }
}