#root {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  color: var(--text-primary-color);
}
.ant-layout,
.ant-layout-has-sider {
  width: 100%;
  height: 100%;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-wraper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: #eff2f5;
  overflow: hidden;
  header {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    background: #fff;
  }
}
.site-layout .site-layout-background {
  background: #fff;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}
.site-layout-background1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  // min-height: 0;
}
.trigger {
  margin-left: 16px;
}
.-title-content {
  margin-left: 7px;
}
ul li {
  list-style: none;
}
.top_right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}
.togithub {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: inherit;
  font-size: 24px;
}

//滚动条样式
:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: transparent;
  transition: all 0.2s;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
.rv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  img{
    width: 32px;
    height: 32px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    object-fit: cover;
  }
}
.btn{
  padding: 0 var(--aside-padding-horizontal);
  margin: 12px 0;
}
