.mail{
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .mail_from{
    width: 95%;
    height:20%;
    padding-left: 20px;
    background-color: #fff;
    margin: 20px auto;
    // margin-bottom: -25px;
    form{
      padding: 20px 0;
    }
    button{
      margin-top:20px;
    }
  }
  .mail_table{
    width: 95%;
    margin:0 auto;
    position: relative;
    padding-top: 30px;
    background-color: #fff;
  }
  .mail_table_button_icon{
    position: absolute;
    right:20px;
    top: 20px;
    cursor: pointer;
  }