.article {
  // padding: 24px;
  overflow: auto;
}
.wraper{
  padding: 24px;
  overflow: auto;
}
.operation {
  display: flex;
}
.ant-space {
  justify-content: space-around;
}
.action {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
}
.table_box {
  width: 100%;
  margin-top: 16px;
  background:#fff;
  padding: 24px 12px;
}
