.poster{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow-y: auto;
}
.file_content{
    width: 95%;
    margin:0 auto;
}
table{
    margin-top: 24px;
    height: 300px;
}