.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.main {
  flex: 1;
  padding: 24px;
  overflow: auto;
}
.comment_search {
  width: 100%;
  height: 22%;
  padding-left: 20px;
  background-color: #fff;
  margin: 20px auto;
  form {
    padding: 20px 0;
  }
  button {
    margin-top: 20px;
  }
}
.buttonGrounp {
  display: flex;
  justify-content: space-between;
}
.left {
  button {
    margin-right: 10px;
  }
}
.right {
  button {
    margin-right: 10px;
  }
}
