footer {
    width: 100%;
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    p {
      font-size: 12px;
      span {
        padding: 0 3px;
      }
    }
  }
  
  .footlist {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 8px 0 16px;
    li:first-of-type {
      margin-top: 1px;
    }
    li {
      display: inline-block;
      border-radius: 50%;
      margin: 0 5px;
      font-size: 24px;
      text-align: center;
    }
  }
  :global {
    .preview {
      display: block;
      width: 100%;
      height: 450px;
      border: 0;
      overflow: hidden;
      clear: both;
      margin: 1rem 0;
      border: none
    }
  }
  
