.login_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e7eaee;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.list li {
  position: absolute;
  bottom: -160px;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(1, 136, 251, 0.15);
  animation: itemli 15s linear infinite;
}
.list li:first-of-type {
  left: 10%;
}
.list li:nth-of-type(2) {
  left: 20%;
  width: 90px;
  height: 90px;
  animation-duration: 7s;
  animation-delay: 2s;
}
.list li:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s;
}
.list li:nth-of-type(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  background: rgba(1, 136, 251, 0.3);
  animation-duration: 8s;
}
.list li:nth-of-type(5) {
  left: 70%;
}
.list li:nth-of-type(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  background: rgba(1, 136, 251, 0.2);
  animation-delay: 3s;
}
.list li:nth-of-type(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 2s;
}
.list li:nth-of-type(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-duration: 15s;
  animation-delay: 4s;
}
.list li:nth-of-type(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  background: rgba(1, 136, 251, 0.3);
  animation-duration: 12s;
  animation-delay: 2s;
}
.list li:nth-of-type(10) {
  left: 85%;
  width: 60px;
  height: 60px;
  animation-delay: 5s;
}
@keyframes itemli {
  0% {
    opacity: 0.5;
    transform: translateY(0) rotate(45deg);
  }
  25% {
    opacity: 0.75;
    transform: translateY(-400px) rotate(90deg);
  }
  50% {
    opacity: 1;
    transform: translateY(-600px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-1000px) rotate(180deg);
  }
}
.panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  box-shadow: 0 2px 8px #f0f1f2;
  border-radius: 4px;
  display: flex !important;
}
.panel > div {
  padding: 2rem;
}
.panel > div:last-of-type {
  background: #f7fafb;
  display: inline-flex;
  align-items: center;
}
@media (min-width: 768px) {
  .panel>div:last-of-type {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 576px) {
    .panel>div:first-of-type {
        display: none;
    }
    .panel>div:last-of-type {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.ant-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
