.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  .header {
    height: 64px;
    background-color: #fff;
    z-index: 1000;
    margin-bottom: 22px; 
  }
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}
.title {
  padding-right: 0;
  padding-left: 0;
  border-top: 0;
  border-left: 0;
  border-radius: 0!important;
  box-shadow: none!important;
  border-right: 0;
}
.context {
  flex: 1;
  overflow: hidden;
}
.content_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
  .content_main_header {
    height: 40px;
    background: #fff;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 16px;
    font-size: 12px;
  }
}