header{
    position: relative;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 100;
}
.container{
    flex: 1;
    padding: 24px;
    overflow: auto;
}
.ant-card {
    margin-top: 0;
}