*{
    margin: 0;
    padding: 0;
    list-style: none;
    a{
        text-decoration: none;
    }
    overflow: none;
}
*, :after, :before {
  box-sizing: border-box;
}
.comment_table_edit{
  display:flex;
  a{
    flex: 1;
    text-align: center;
  }
}
.comment{
  width: 100%;
  overflow-y: auto;
}
.comment_search{
  width: 95%;
  height:22%;
  padding-left: 20px;
  background-color: #fff;
  margin: 20px auto;
  // margin-bottom: -25px;
  form{
    padding: 20px 0;
  }
  button{
    margin-top:20px;
  }
}
.comment_table{
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: -20px;
  // padding:0 20px;
}


//表格颜色
.green{
  // display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: #52c41a;
}
.orange{
  display:flex;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #faad14;
}
.comment_flag{
  display:flex;
  align-items: center;
  span{
    margin-right: 5px;
  }
}

.comment_mask_over{
  position: fixed;
  left: 0;
  top: 0;
}
.ant-popover-inner-content{
  height: 90%;
}
.comment_article{
  display: flex;
  align-items: center;
  justify-content: center;

}
.comment_article{
  // display: flex;
  height: 100%;
  // align-items:center;
  // padding:215px 0;    
  h3{
    padding:0 20px;
    font-size: 28px;
    border-right: 1px solid #aaa;
  }
  outline: none;
  border: none;
  iframe{
    height: 500px;
    width: 100%;
  }
}
.comment_table_box{
  display: flex;
  height: 50px;
  align-items:center;
}
.comment_table_button{
  display: flex;
  align-items:center;
  margin-top: 40px;
  li{
    margin:0 5px;
  }
}
.comment_table{
  position: relative;
}
.comment_table_button_icon{
  position: absolute;
  right:20px;
  top: 20px;
  cursor: pointer;
}
/*弹出框样式*/
.modal_mask{
  width: 100%;
  height: 300px;
}
