.header {
  position: relative;
  padding: 12px 1.5rem !important;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  z-index: 100;
}
.interval {
  margin: 12px 0 0;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  flex: 1;
  padding: 24px;
  overflow: auto;
}
:global {
  .site-card-wrapper {
    .ant-card-body {
      display: flex;
      a {
        color: #333;
        flex: 1;
        padding-left: 10px;
        text-align: center;
      }
    }
  }
  .articlebox {
    .ant-card-grid {
      .link {
        display: inline-block;
        width: 100%;
        border-radius: 4px;
        color: inherit;
        img {
          display: inline-block;
          width: 100%;
          height: 110px;
          object-fit: cover;
        }
      }
    }
  }
  .ant-card{
    margin-top: 24px;
    .ant-card-extra{
      a{
          color: #333;
      }
  }
  }
}
