[data-theme='compact'] .ant-advanced-search-form,
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
    display: flex;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}
.ant-form-vertical .ant-form-item {
    flex-direction: row;
}
header{
    position: relative;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    z-index: 100;
    // border-top: solid 1px #ccc;
}
._356HSOa33WPexiuYnLScFc{
    margin: 12px 0 0;
    color: rgba(0,0,0,.85);
    overflow: hidden;
    font-weight: 600;
    font-size: 20px;
    // line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._3nJJ5Sx6PbHhFVGf3_Awr6{
    width: 100%;
    height: 100%;
    overflow: auto;
}
._3nJJ5Sx6PbHhFVGf3_Awr6>main{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 24px;
    // padding: 24px;
    overflow: auto;
}
._3nJJ5Sx6PbHhFVGf3_Awr6>main{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}
.box123{
    padding: 24px 12px;
    // background: #fff;
}
.box123 form{
    background: #fff;
    margin-bottom: 16px;
    padding: 24px 12px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    // line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}
.box456{
    background: rgb(255, 255, 255);
    padding: 24px 12px;
}
.box456 .box789{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1em;
}
.box456 .box789 button{
    margin-left: 90%;
}
.box0{
    display: flex;
    // justify-content: space-around;
}
.box0 .box1{
    width: 25%;
    margin-left: 8px;
}
.box0 .box1 img{
    width: 100%;
    height: 120px;
}
.box2{
    border: solid 1px rgb(235, 230, 230);
}
.box2 div{
    margin-top: 16px;
    margin-bottom: 10px;
    padding-left: 16px;
}
.box456 .ul1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 48px;
    list-style: none;
    background: #fff;
    // border: solid 1px red;
    border: 1px solid #f0f0f0;
}
.box456 .ul1 li{
    width: 25%;
    float: left;
    margin: 12px 0;
    color: rgba(0,0,0,.85);
    text-align: center;
}
.box456 .ul1 li span a{
    color: #000;
}
.box456 .ul1 li:not(:last-child){
    border-right: 1px solid #f0f0f0;
}
.box456 .box235{
    margin-top: 40px;
    margin-left: 80%;
}

.box643{
    background: rgb(255, 255, 255);
    padding: 24px 12px;
}
._4yxeklcCZVaddgSjYswZG{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1em;
    margin-left: 560px;
}
.Jk_7c4uLfV5bARw2xisN {
    margin-top: 1.5rem;
    text-align: right;
}
.img{
    width: 165.1px;
    height: 120px;
}